/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/LICENSE-fml.txt
/CREDITS-fml.txt
/morefuelsmod-1.9_Server.launch
/morefuelsmod-1.9_Client.launch
/forge-1.9.4-12.17.0.1976-changelog.txt